<h4 id="notify-container" class="c-grey-900 mT-10 mB-30"></h4>
<h4 class="c-grey-900 mT-10 mB-30">{{label}}</h4>

<div class="alert alert-light" id="crud_nav_bar">
  <button class="btn btn-primary btn-color" id="show_create_form_button_{{@root.name}}" entity-name="{{@root.name}}" >New</button>
  <button class="btn btn-primary btn-color">Delete</button>
</div>

<div class="alert alert-light">

  <div class="row">
    {{#each fields}}
      {{#compare type '==' 'string'  }} 
      <div class="mb-3 col-md-6">
        <input type="text" class="form-control" id="search_field_{{@root.name}}_{{name}}" placeholder="{{label}}">
      </div>      
      {{/compare}}
    {{/each}}  
    <div class="">
      <button id="search_button_{{@root.name}}" entity-name="{{@root.name}}" class="btn btn-primary btn-color">Search</button>
    </div>      
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="bgc-white bd bdrs-3 p-20 mB-20">
      <table id="table_search_result_{{@root.name}}" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            {{#each fields}}
            <th>{{label}}</th>
            {{/each}}    
          </tr>        
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
</div>