<h4 id="notify-container" class="c-grey-900 mT-10 mB-30"></h4>
<h4 class="c-grey-900 mT-10 mB-30">{{label}}</h4>

<div class="alert alert-light" id="crud_nav_bar">
  <button class="btn btn-primary btn-color" id="back_create_button_{{@root.name}}" entity-name="{{@root.name}}">&lt;
    Back</button>
</div>

<div class="alert alert-light">
  <div class="mT-30">
    <form id="create_form_{{@root.name}}" class="container">
      {{#each fields}}
      {{#compare type '==' 'string' }}
      <div class="mb-3 row">
        <label for="create_form_field_{{@root.name}}_{{name}}" class="form-label col-sm-2 col-form-label">{{label}}</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="create_form_field_{{@root.name}}_{{name}}" {{#compare required '===' true }} required  {{/compare}}>
        </div>
      </div>      
      {{/compare}}
      {{#compare type '==' 'date' }}
      <div class="mb-3 row">
        <label for="create_form_field_{{@root.name}}_{{name}}" class="form-label col-sm-2 col-form-label">{{label}}</label>
        <div class="timepicker-input input-icon mb-3">
          <div class="input-group-text bgc-white bd bdwR-0">
            <i class="ti-calendar"></i>
          </div>
          <input type="text" class="form-control bdc-grey-200 start-date" id="create_form_field_{{@root.name}}_{{name}}" placeholder="Datepicker" data-provide="datepicker" {{#compare required '===' true }} required  {{/compare}} >
        </div>
      </div> 
      {{/compare}}
      {{/each}}

      <div class="">
        <button id="create_button_{{@root.name}}" entity-name="{{@root.name}}"
          class="btn btn-primary btn-color">Save</button>
      </div>
    </form>

  </div>

</div>